.card-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.card-link {
  display: inline-block; /* Add this class and set display property to inline-block */
  width: 30%;
  min-width: 250px;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 1rem;
  position: relative;
  /* width: calc(30% - 1rem); */
  min-width: 250px;
  min-height: 275px;
  color: black;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}
